
h1 {
  margin: 50px 0 auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#4d4c7d;

}

h2 {
  font-family: "Oswald" sans-serif;
font-size: 2rem;
font-weight: normal;
color: #4d4c7d;
padding-bottom: 10px;

}

h3 {
font-family:"Oswald" sans-serif;
color: #11999E;


}

body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;

}
p{
  line-height: 2;
}
hr{
border:dotted #EAF6F6 6PX;
border-bottom: none;
width: 4%;
margin: 100px  auto;
}
a{
  color: #11999E;
  font-family:"Oswald" sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #b2ebf2;
  position: relative;
  padding-top: 100px;
  font-family: 200px;
}
.middle-container{
  margin: 100px 0;
}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;

}

.top-cloude {
  position: absolute;
  right: 300px;
  top: 40px;
}
.intro{
  width: 30%;
  margin: auto;
}
.bottom-cloude {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
text-align: left;

}
.images{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillies_image{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.p4{
  width: 40%;
  margin: 40px auto 60px;
}

.CONTACTME {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
font-family:"Oswald" sans-serif;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.CONTACTME:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.CONTACTME:active {
	position:relative;
	top:1px;
